[Desktop Entry]
Name=Proose
Exec=/usr/lib/proose/Proose %U
Icon=/usr/share/pixmaps/proose.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/proose;
