[Desktop Entry]
Name=Proose
Exec=/usr/lib/Proose/Proose %U
Icon=/usr/share/pixmaps/Proose.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/proose;
